@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import "./grid.scss";
@import "./header.scss";
@import "./carousel.scss";
@import "./collection.scss";
@import "./single_product.scss";
@import "./product.scss";
@import "./cart.scss";
@import "./cart_modal.scss";
@import "./modal.scss";
@import "./finish.scss";
@import "./new_product.scss";
@import "./footer.scss";

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 42px;
}
input[type="radio"] {
  position: absolute;
  width: 0;
  opacity: 0;
}
label {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.page_title {
  margin: 50px 0;
  text-align: center;
  @media screen and (max-width: 991px){
    margin: 30px 0;
  }
}
main {
  padding-top: 40px;
}

.btn {
  max-width: 300px;
  height: 50px;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px rgba(255, 0, 128, 0.5);
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  margin-left: auto;
  margin-right: auto;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ff0080;
    transition: all 0.35s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &::after {
      width: 100%;
    }
  }
}
