.product {
  h3 {
    font-size: 26px;
  }
  &_price {
    font-size: 22px;
    margin: 20px 0;
  }
  .line {
    align-items: center;
  }
  &_images {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 300px;
    }
    &_animate {
      position: absolute;
      transition: all 0.5s;
    }
  }
  &_info {
    button {
      margin-left: 0;
      margin-top: 20px;
      &:disabled {
        background-color: #e3e3e3;
      }
    }
  }
  &_colors {
    justify-content: flex-start;
    label:first-child {
      span {
        margin-left: 0;
      }
    }
  }
  &_capacity {
    justify-content: flex-start;
    label:first-child {
      span {
        margin-left: 0;
      }
    }
  }
  &_description {
    margin: 50px 0;
    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
    h5 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    p {
      line-height: 28px;
    }
    .grid_row > div:last-child {
      margin-left: 0;
    }
    &_item {
      margin-bottom: 30px;
    }
  }
}
